@model List<EcommerceManagement.Models.Domain.ProductModel>

@{
    ViewData["Title"] = "GetAll";
}

<html>
    <head>
        <style>
        :root {
            --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
        }

    

        .card {
            background: #222;
            border: 1px solid #dd2476;
            color: rgba(250, 250, 250, 0.8);
            margin-bottom: 2rem;
        }

        .card:hover{

        }
        .btn {
            border: 5px solid;
            border-image-slice: 1;
            background: var(--gradient) !important;
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent !important;
            border-image-source: var(--gradient) !important;
            text-decoration: none;
            transition: all .4s ease;
        }

            .btn:hover, .btn:focus {
                background: var(--gradient) !important;
                -webkit-background-clip: none !important;
                -webkit-text-fill-color: #fff !important;
                border: 5px solid #fff !important;
                box-shadow: #222 1px 0 10px;
                text-decoration: underline;
            }
            .top27{
               top:20px;
            }
            .endm16{
                right:-48px;
            }
            .borderR{
                border-radius:4px;
            }
            .bgyello{
                background:#ee3f3f;
            }

            .card {
                position: relative;
                width: 16rem;
                overflow: hidden;
            }

        .top-left-button {
            position: absolute;
            top: 10px; /* Adjust the top position as needed */
            left: 10px; /* Adjust the left position as needed */
            z-index: 1; /* Ensure the button is above other elements */
            border-radius:50%;
            border:none;
            opacity: 0; /* Initially hide the button */
            transition: opacity 0.3s ease; /* Smooth transition effect */
        }

        .card:hover .top-left-button {
            opacity: 1; /* Make the button visible when the card is hovered */
        }
           
        </style>
  
    </head>
    <body>
       @if(Model.Count>0 && Model.Any()){
          <div class="container  mt-4">
                <div class="row">
                   @foreach (var x in Model)
                   {

                      <div class="col-md-3">

                        <div class="card position-relative" style="width: 16rem;">
                            <img src="/image/@x.ProductImage" class="card-img-top" style="height:12rem" alt="...">
                            <a class="top-left-button" href="/Favorit/AddToFavorit/@x.ProductId">
                                <img src="../Content/images/heart-icon-jst.png" style="width:30px;" /></a>
                            <div class="card-body">
                                @if (x.IsTrending)
                                {
                                    <div class="position-absolute top27 endm16 borderR text-white bgyello translate-middle">
                                        <p class="pe-3 ps-3 text-center">Trending</p>
                                    </div>
                                }
                                <h5 class="card-title">@x.ProductName</h5>
                                <h6 class="card-subtitle mb-2 text-muted">@x.Category.CategoryName</h6>
                                <div class="d-flex justify-content-between mb-2">
                                    <div class="fs-4 fw-500">Price</div>
                                    <div class="fs-4 fw-500">@x.ProductPrice</div>
                                </div>

                                @if (User.IsInRole("Admin"))
                                {
                                    <div class="d-flex justify-content-between">
                                        <a href="/Product/Update/@x.ProductId" class="btn mr-2 text-center"><span class="ps-3 pe-3">Edit</span></a>
                                        <a href="/Product/Deactive/@x.ProductId" class="btn deactive-btn text-center" data-id="@x.ProductId"> Deactive</a>
                                    </div>
                                }
                                else
                                {
                                    @if (User.IsInRole("User"))
                                    {
                                        <div>
                                            @* <button class="btn" style="width:100%" asp-action="AddToCart" asp-controller="Cart" asp-route-id="@x.ProductId">Add To Cart</button> *@
                                            <a class="btn" style="width:100%" href="/Cart/AddToCart/@x.ProductId">Add To Cart</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div>
                                            <a href="/Authentication/Login" class="btn w-100 text-center">Add To Cart</a>
                                        </div>
                                    }
                                }
                            </div>
                        </div>

                      </div>

                   }
                </div>
        </div>

    }
    else
    {
        @if (User.IsInRole("Admin"))
        {
            <div class="d-flex justify-content-center  align-items-center vh-100">
                <div class=" card p-5 w-25">
                    <div class="card-title text-center text-danger fs-5 fw-600">No Product are Persents</div>
                    <div class="card-body text-center"><a class="btn btn-success pl-2 pr-2" href="/Product/AddProduct">Add Product</a></div>
                </div>
            </div>
        }
    }

    @section Scripts{
   
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.all.min.js"></script>
      
    }
    </body>
</html>





