@model List<EcommerceManagement.Models.Dto.ProductCategoryDto>

@{
    ViewData["Title"] = "GetAll";
    var CategoryList = ViewBag.CategoryList as List<EcommerceManagement.Models.Domain.CategoryModel>;
}
<html>
    <head>
        <style></style>
    </head>
    <body>
    <h3 class="m-3">All Products</h3>

    <div class="d-flex justify-content-between">
        <div>
            <select class="form-select " style="width:10rem" id="categoryId">
                @if (CategoryList != null && CategoryList.Count > 0)
                {
                    @foreach (var x in CategoryList)
                    {
                        <option value="@x.CategoryId">@x.CategoryName</option>
                    }
                }
            </select>
        </div>
        <div class="d-flex justify-content-between">
            <div class="me-5">
                <a class="btn btn-success" href="/Product/AddProduct">Add New Product</a>
            </div>
            <div class="form-outline" data-mdb-input-init>
                <input type="search" id="form1" class="form-control" />
                <label class="form-label" for="form1">Search</label>
            </div>
            <div class="mt-2 ms-2">
                <i class="bi bi-search"></i>
            </div>
        </div>
    </div>

@*     <table class="table table-dark  table-striped-columns">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Product Description</th>
                <th>Product Price</th>
                <th>Is Available</th>
                <th>Is Trending</th>
                <th>Category Name</th>
                <th>Created At</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.ProductName</td>
                        <td>@product.ProductDes</td>
                        <td>@product.ProductPrice</td>
                        <td>@product.IsAvailable</td>
                        <td>@product.IsTrending</td>
                        <td>@product.CategoryName</td>
                        <td>@product.ProductCreated.Date.ToString("dd-MM-yyyy")</td>
                        <td>
                            <a class="btn btn-primary" href="/Product/Update/@product.ProductId">Edit</a>
                            @if (product.IsActive)
                            {
                                <a class="btn btn-danger" href="/Product/Deactive/@product.ProductId">Deactive</a>
                            }
                            else
                            {
                                <a class="btn btn-success" href="/Product/Active/@product.ProductId">Active</a>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table> *@

    <div id="productTableBody">

    </div>

    <!-- ... (previous HTML code) -->
@section Scripts{
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>

            $(document).ready(function () {
                getProductByCategoryId();
            });
            $("#categoryId").change(function () {
                getProductByCategoryId();
            });
            var getProductByCategoryId = function () {
                $.ajax({
                    url: '@Url.Action("GetAllByCategory", "Product")',
                    type: 'GET',
                    data: {
                        categoryId: $('#categoryId').val(),
                    },
                    success: function (data) {
                        $('#productTableBody').html(data);
                    },
                    error: function () {
                        console.log('Error fetching products');
                    }
                });
            }

        </script>
    <!-- ... (remaining HTML code) -->

}
    </body>
</html>