@model List<EcommerceManagement.Models.Dto.ProductCategoryDto>

@{
    ViewData["Title"] = "GetAll";
}
<h3 class="m-3">All Products</h3>
<table class="table table-dark  table-striped-columns">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Product Price</th>
            <th>Is Available</th>
            <th>Is Trending</th>
            <th>Category Name</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.ProductName</td>
                    <td>@product.ProductDes</td>
                    <td>@product.ProductPrice</td>
                    <td>@product.IsAvailable</td>
                    <td>@product.IsTrending</td>
                    <td>@product.CategoryName</td>
                    <td>@product.ProductCreated.Date.ToString("dd-MM-yyyy")</td>
                    <td>
                        <a class="btn btn-primary" href="/Product/Update/@product.ProductId">Edit</a>
                        @if (product.IsActive)
                        {
                            <a class="btn btn-danger" href="/Product/Deactive/@product.ProductId">Deactive</a>
                        }
                        else
                        {
                            <a class="btn btn-success" href="/Product/Active/@product.ProductId">Active</a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
