@model IEnumerable<EcommerceManagement.Models.Domain.UserModel>;
@{
    ViewData["Title"] = "All USers";
}

<html>
    <head>
        <style>
            .mt70{
                margin-top:70px;
            }
        </style>
    </head>
    <body>
    <h1 class="mt70">All Users</h1>

    @if (Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Phone no</th>
                    <th>Password</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                    <tr>
                        <td>@x.Id</td>
                        <td>@x.FirstName @x.LastName</td>

                        <td>@x.Email</td>

                        <td>@x.Address</td>

                        <td>@x.PhoneNo</td>

                        <td>@x.Password</td>

                        <td>
                                <a class="btn btn-primary" asp-action="UpdateUsers" asp-controller="Authentication" asp-route-id="@x.Id">Edit</a>
                            @if (x.IsActivate)
                            {
                                <a class="btn btn-danger" asp-action="Deactive" asp-controller="Authentication" asp-route-id="@x.Id">Deactivate</a>
                            }
                            else
                            {
                                <a class="btn btn-success" asp-action="Activate" asp-controller="Authentication" asp-route-id="@x.Id">Activate</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="card">
            <div class="card-header">
                No Uses created yet
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Use the button below to create a user
                </h5>
                <a class="btn btn-primary" style="width:auto" asp-controller="Authentication" asp-action="Register">
                    Add new users
                </a>
            </div>
        </div>
    }
    </body>
</html>